<configuration debug="true">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>ログだよ - %msg%n</pattern>
    </encoder>
  </appender>

   <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
    <smtpHost>smtp.sendgrid.net</smtpHost>
    <smtpPort>587</smtpPort>
    <SSL>true</SSL>
    <username>apikey</username>
    <password>SG.xxx</password>

    <to>to@example.com</to>
    <from>from@example.com</from>
    <subject>LogbackのSMTPAppenderで送信</subject>

    <!-- trueの場合、サンプルコード内でスリープ処理が必要  -->
    <asynchronousSending>false</asynchronousSending>

    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>ログをメールで通知するよ↓%n%n%m%n</pattern>
    </layout>
  </appender>

  <root level="ERROR">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="EMAIL" />
  </root>
</configuration>